@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 708px,
        lg: 1025px,
        xl: 1330px
);

$container-max-widths: (
        sm: 540px,
        md: 660px,
        lg: 993px,
        xl: 1260px
);

@import "../../node_modules/bootstrap/scss/bootstrap";
